---
import { ClientRouter } from "astro:transitions";

import { SITE_TITLE, SITE_COLOR } from "../consts.ts";

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />

<title>{title} | {SITE_TITLE}</title>

{description && <meta name="description" content={description} />}

<link rel="icon" href="/img/favicon.ico" sizes="32x32" />
<link rel="icon" href="/img/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
<link rel="apple-touch-startup-image" href="/img/icon-512.png" />
<meta name="apple-mobile-web-app-title" content={SITE_TITLE} />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="manifest" href="/manifest.webmanifest" />
<meta name="theme-color" content={SITE_COLOR} />

<link rel="canonical" href={canonicalURL} />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wdth,wght@75,700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href={new URL("/normcore/css/normcore.css", Astro.site)}
/>
<link rel="stylesheet" href="/style.css" media="screen" />
<link rel="stylesheet" href="/print.css" media="print" />

<ClientRouter />
