---
title: Home
---

%dl.dl-horizontal
  %dt= link_to "Email", "mailto:stevenccherry@gmail.com"
  %dd If you want to write to me you can send me an email.
  %dt= link_to "Twitter", "http://twitter.com/stevenccherry"
  %dd Or you can follow me.
  %dt= link_to "LinkedIn", "http://www.linkedin.com/in/sccherry"
  %dd If you just want to see my resume.
  %dt= link_to "GitHub", "https://github.com/sccherry"
  %dd Of a few of my personal coding projects.
  /
    %dt= link_to "Zotero", "#"
    %dd
    %dt= link_to "YouTube", "#"
    %dd
    %dt= link_to "Facebook", "#"
    %dd